body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #101820;
    color: white;
}


/* ENCABEZADO */

header {
    background-color: #ff4655;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
}


/* CONTENIDO */

main {
    width: 80%;
    margin: auto;
}

section {
    padding: 40px 0;
}

h2 {
    color: #ff4655;
}


/* PARTICIPANTES */

.lista-participantes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.participante {
    background-color: #1c2a35;
    padding: 20px;
    width: 180px;
    border-radius: 10px;
}

.participante h3 {
    margin-top: 0;
}


/* CARTA DE OMEN */

.carta {
    background-color: #1c2a35;
    width: 300px;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.carta img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carta h3,
.carta p {
    margin-left: 20px;
    margin-right: 20px;
}

.carta h3 {
    color: #ff4655;
    font-size: 25px;
}


/* PIE DE PAGINA */

footer {
    background-color: #080d12;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}